<html>
<head>
    <title>Pin Drop</title>

    <style type="text/css">
        #pindrop-container {
            position: fixed;
            top: 0;
            right: 0;
            width: 400px;
            height: 100%;
            background: #dddddd;
            font-family: helvetica, arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Caffeinehit Ltd</h1>

    <p>54 Rivington St. EC2A 3QN</p>
    
    <h2>Home</h2>
    
    <p>120A High Road, N2 9ED</p>
    
    <p><img src="https://pbs.twimg.com/profile_images/415181606861561856/YtoIKvXJ.jpeg" /></p>
    
    <p><a href="javascript:(function(){void((function(d){var%20doesPinDropExist=d.getElementById('pindrop-script');if(doesPinDropExist%20!==null){window.PinDrop.run();return;}var%20e=d.createElement('script');e.setAttribute('id','pindrop-script');e.setAttribute('charset','UTF-8');e.setAttribute('src','//widget.dev/pindrop.template.js');d.body.appendChild(e);})(document));})();">Pin Drop</a></p>
    
</body>
</html>